header {
    width: 100%;
    height:  41px;
    background-color: #2D333B;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width:80%;
    margin-right:12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}
button
{
    background: #2D333B;
    border: 1px solid #999999;
    min-width: 250px;
    width:80%;
    margin-right: 12px;
    color: #FFFFFF;
    border-radius: 22px;
    font-size: 18px;
    padding: 10px;
}