* {
    margin: 0;
    padding: 0;
    gap: auto;
}

body {
    background-color: #0d2653;
}
hr {
    border: 1px solid rgba (229,229,229,0.1); ;
    height: 1px;
    background-color: #444c56;
    margin: 20px 0;
}

a {
    color: #465059;
}